/* Styles for tablets and up */

@media (min-width: 600px) {
    .nav-menu {
        display: flex !important;
        flex-direction: row;
    }

    .nav-menu li {
        margin: 0 1rem;
    }

    .menu-toggle {
        display: none;
    }

    .planets-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Styles for desktops and up */

@media (min-width: 900px) {
    .planets-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .join-form {
        max-width: 600px;
        margin: 2rem auto;
    }
}