@media only screen and (min-width: 38rem) {
    
    header, main, nav, footer, .large-header {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .hamburger {
        display: none;
    }

    .large-header {
        display: flex;
        background-color: var(--primary-color);
        padding-bottom: 5px;
    }

    .navigation{
        display: flex;
        margin-top: 5px;
    }

    .navigation ul {
        display: flex;
        column-gap: 8px;
    }

    .navigation a {
        border: none;
        border: solid 2px var(--primary-color);
        border-radius: 22px;
        
    }

    .navigation li {
        background-color: white;
        border-radius: 26px;
    }

    .navigation li.current {
        border-radius: 22px;
    }
}