:root {
    --primary-color: rgb(1, 48, 90);
    --secondary-color: rgb(41, 56, 70);
}

* {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}


/****************** HEADER ****************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 10px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--primary-color);
    color: white;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    padding-bottom: 3px;
}

/****************** HAMBURGER ******************/
.hamburger {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/****************** NAVIGATION ******************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 2px var(--secondary-color);
}

.navigation li.current {
    background-color: rgb(170, 167, 167);
}

.navigation a:hover {
    background-color: #f39c05;
}

/****************** MAIN ******************/

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 5px 15px 5px;
}

 .menu button {
     border-radius: 22px;
     width: 64px;
     height: 32px;
 }

 .menu button:hover {
     background-color: #f39c05;
 }

 .list-button-img {
    margin-top: 1px;
 }

 .grid-button-img {
    margin-top: 3px;
 }

/****************** COMPANIES ******************/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    text-align: center;
    color: white;
    margin: 30px 10px 30px 10px;
    align-items: stretch;
}

.grid img{
    width: 150px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 1rem #555;
    background-color: white;
}

.grid section {
     text-align: center;
     border: 1px solid rgb(0 0 0 / 10%);
     padding: 0.5rem;
     background-color: var(--secondary-color);
 }

.grid p {
    padding: 5px 0 5px 0;
}

.grid a, .list a{
    text-decoration: none;
    color: white;
    white-space: normal;
    overflow-wrap: anywhere;
    display: inline-block;
    max-width: 100%;
}

.grid a:hover, .list a:hover {
    text-decoration: underline;
}

.grid h2 {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--secondary-color);
    }
    

    h2 {
        font-size: 1rem;
    }

.list section {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    gap: 5px;
    padding: 0.25rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: rgb(59, 81, 101);
}

.list section p,
.list section h2,
.list section a {
    font-size: 12px;
}

/****************** FOOTER ******************/

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 10px;
    text-align: left;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px white;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #f39c05;
}

footer p {
    color: white;
    text-decoration: none;
}

/****************** HOME PAGE******************/

.home-main {
    padding: 0;
}

.hero {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.join {
    border-radius: 22px;
    width: 124px;
    height: 32px;
}

.join-button{
    display: flex;
    justify-content: center;
}

.join:hover {
    background-color: #f39c05;
}

.home-grid1 {
    background-color: rgb(204, 202, 202);
}

.home-grid1 h2 {
    font-size: larger;
    display: block;
    width: 100%;
    height: 35px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events ul {
    list-style: none;
    color: white;
    padding: 0;
}

.events li {
    background-color: rgb(79, 109, 137);
}

.events li:nth-child(even) {
    background-color: rgb(59, 81, 101);
}