:root {
    --primary-color: rgb(63, 63, 65);
    --secondary-color: rgb(46, 186, 207);
}

*{
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.5rem;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 100px;
}

img {
    width: 30%;
}

div {
    background-color: var(--primary-color);
    margin: 0 auto;
    border: 3px solid black;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
    background-color: var(--secondary-color);
    border: 3px solid black;
}

.schema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    background-color: rgb(0, 0, 77);
}

.schema h2 {
    grid-column: 1/4;
}

.blue {
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
}

.black {
    background-color: var(--primary-color);
}

p {
    color: white;
}


.p {
    background-color: var(--primary-color);
}

.schema p {
    border: 3px solid black;
    padding-top: 9px;
}
